body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3f3f3f;
}

:focus {
    outline: 0!important;
}

a{
    transition:  all .2s ease-in-out;
    -webkit-transition:  all .2s ease-in-out;
    -moz-transition:  all .2s ease-in-out;
    -o-transition:  all .2s ease-in-out;
}
a:hover{
    text-decoration: none;
}
.web-shadow{
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}
.web-heading h1{
    font-size: 3.5rem;
}
.web-heading h2{
    font-size: 2.5rem;
}
.web-heading h3{
    font-size: 1.5rem;
    color: #fb4275;
}
.web-heading span{
    color: #fb4275;
}
.web-heading p{
    max-width: 800px;
    margin: 30px auto;
    font-size: 1.15rem;
    line-height: 1.75;
    color: #818181;
}
.btn-primary {
    color: #fff;
    background-color: #fb4275;
    border-color: #fb4275;
    text-transform: uppercase;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #ff5584;
    border-color: #ff5584;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(251, 66, 117, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ff5584;
    border-color: #ff5584;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff5584;
    border-color: #ff5584;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(251, 66, 117, 0.5);
  }

/*---- Header ----*/
.web-header-section {
    padding: 15px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.web-header-section ul li{
    padding: 0 5px;
}
.web-header-section ul li a{
    color: #3f3f3f;
}
.web-header-section ul li a.active,
.web-header-section ul li a:hover{
    color: #fb4275;
}

/*---- Slider ----*/
.web-slider-section{
    width: 100%;
    display: inline-block;
    padding: 150px 0;
    background: url(../images/img-slider-section.png) no-repeat;
    background-size: contain;
}
.web-slider-section a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}
.web-slider-section .carousel-indicators{
    bottom: -35px;
}
.web-slider-section .carousel-indicators li{
    height: 10px;
    background: #818181;
    border: 0;
    border-radius: 20px;
    opacity: 1;
    transition:  all .2s ease-in-out;
    -webkit-transition:  all .2s ease-in-out;
    -moz-transition:  all .2s ease-in-out;
    -o-transition:  all .2s ease-in-out;
}
.web-slider-section .carousel-indicators li:hover{
    background: #fb4275;
}
.web-slider-section .carousel-indicators li.active{
    width: 45px;
    background: #fb4275;
}

/*---- Feature ----*/
.web-feature-section{
    padding: 100px 0;
    background: url(../images/img-feature-section.png) no-repeat;
    background-size: contain;
}
.web-feature-section .web-feature-item{
    margin: 0 0 30px;
    padding: 60px 30px;
    background: #ffffff;
    border-radius: 10px;
}

/*---- About ----*/
.web-about-section{
    padding: 100px 0;
    position: relative;
    background: url(../images/img-about-section.png) no-repeat;
    background-size: contain;
    overflow: hidden;
}
.web-about-section .web-image{
    max-width: max-content;
}
/* .web-about-section::before{
    content: '';
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0;
    right: -120px;
    background: url(../images/img-about-1.png);
} */
.web-about-section .web-about-tab{
    margin: 0 0 25px;
    color: #818181;
}
.web-about-section .web-about-tab svg{
    margin: 0 15px 0 0;
    color: #fb4275;
}
.web-about-section .web-about-tab .nav{
    margin: 0 0 30px;
    border: 0;
}
.web-about-section .web-about-tab .nav li a{
    padding: 20px 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    line-height: 1;
    color: #3f3f3f;
    border: 0;
    border-bottom: 2px solid #dee2e6;
}
.web-about-section .web-about-tab .nav li a.active{
    color: #fb4275;
    border-color: #fb4275;
}
.web-about-section .web-about-tab p{
    line-height: 1.75
}

/*---- Steps ----*/
.web-steps-section{
    padding: 100px 0;
    background: url(../images/img-step-section.png) no-repeat;
    background-size: contain;
}
.web-steps-section .web-steps-line{
    background: url(../images/img-step-line.png) no-repeat;
    background-position: 60% 30%;
}
.web-steps-section .col-lg-3:nth-child(even){
    margin: 225px 0 0;
}
.web-steps-section .web-steps-item{
    margin: 0 0 3px;
    padding: 60px 20px;
}

/*---- Service ----*/
.web-service-section{
    padding: 0 0 100px;
    background: url(../images/img-service-section.png) no-repeat;
    background-size: contain;
}
.web-service-section .col-lg-6:nth-child(even){
    margin: 30px 0 0;
}
.web-service-section .web-service-item{
    padding: 45px 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 10px;
}
.web-service-section .web-service-item h4{
    margin: 30px 0 20px;
    font-size: 1.15rem;
}
.web-service-section .web-service-item a{
    display: inline-block;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3f3f3f;
    text-transform: uppercase;
}
.web-service-section .web-service-item a:hover{
    color: #fb4275;
}
.web-service-section .web-service-item a::after{
    content: '';
    width: 20px;
    height: 1px;
    position: absolute;
    top: 50%;
    /* right: -30px; */
    left: calc(100% + 10px);
    background: #3f3f3f;
    transition:  all .4s ease-in-out;
    -webkit-transition:  all .4s ease-in-out;
    -moz-transition:  all .4s ease-in-out;
    -o-transition:  all .4s ease-in-out;
}
.web-service-section .web-service-item a:hover::after{
    background: #fb4275;
    left: calc(100% + 15px);
    transition:  all .4s ease-in-out;
    -webkit-transition:  all .4s ease-in-out;
    -moz-transition:  all .4s ease-in-out;
    -o-transition:  all .4s ease-in-out;
}